<h2>Accounts</h2>
<EnterNewAccount/>
<div class="list-of-items">
  {{#each this.model as |single-account|}}
    <SingleAccount @account={{single-account}} class="single-five-item-line"/>
  {{/each}}
</div>