<div
  {{did-insert this.getAccountData}}
>
  {{#if this.accountDataInstance.isRunning}}
    <AccountsValueLoading
            class="current-value-list"
    />
  {{/if}}
  {{#if this.accountDataInstance.isSuccessful}}
    <AccountsValue
            @accounts={{this.accountDataInstance.value}}
            class="current-value-list"
    />
  {{/if}}

</div>