$montserrat: 'Montserrat', sans-serif;
$small-radius: 5px;
$small-interspace: 0.5em;
$regular-interspace: 1em;
$big-interspace: 2em;
$dark-green: #036D19;
$green: #81C14B;
$dark-vanilla: #CCC9A1;
$cream: #F0FFCE;
$pale-gold: #ECBA82;

body{
  font-family: $montserrat;
  background-color: $cream;
  margin: 0 auto;
}

.menu-box{
  background-color: $dark-green;
  padding: $big-interspace;
  display: grid;
  grid-template-columns: 4fr 6fr 2fr;
  a {
    font-weight: bold;
    text-decoration: none;
    color: $cream;
    &:hover{
      color: $pale-gold;
    }
  }
  .active{
    color: $pale-gold;
  }
}

.menu{
  display: flex;
  justify-content: space-around;
}

.add-new-transaction-link{
  grid-column: -1;
}

.body{
  margin: 0 $big-interspace 0 $big-interspace;
  background-color: white;
  padding: $big-interspace;
}

.add-new-transaction{
  padding: $regular-interspace;
}

.transactions{
  .single-transaction:nth-child(odd){
    background-color: $cream;
  }
}

.input-form{
  border: 1px solid $green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  //display: flex;
  //justify-content: space-around;
  padding: $regular-interspace;
  border-radius: $small-radius;
  align-items: center;
}

.single-transaction{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: $regular-interspace;
  border-radius: $small-radius;
}
.header{
  font-weight: bold;
  margin-bottom: $regular-interspace;
}

.transaction-input{
  padding: $small-interspace;
  border-radius: $small-radius;
  font-family: $montserrat;
}

.input-form-field{
  display: flex;
  flex-direction: column;
  margin: $small-interspace;
}

.input-form-title{
  margin-bottom: $small-interspace;
}

@import "ember-power-select";
