$montserrat: 'Montserrat', sans-serif;
$small-radius: 5px;
$small-interspace: 0.5em;
$regular-interspace: 1em;
$big-interspace: 2em;
$dark-green: #036D19;
$green: #81C14B;
$dark-vanilla: #CCC9A1;
$cream: #F0FFCE;
$pale-gold: #ECBA82;
$ember-power-select-border-color: $green;

body{
  font-family: $montserrat;
  background-color: $cream;
  margin: 0 auto;
}

.menu-box{
  background-color: $dark-green;
  padding: $big-interspace;
  display: grid;
  grid-template-columns: 4fr 5fr 2fr;
  a {
    font-weight: bold;
    text-decoration: none;
    color: $cream;
    &:hover{
      color: $pale-gold;
    }
  }
  .active{
    color: $pale-gold;
  }
}

.menu{
  display: flex;
  justify-content: space-around;
}

.add-new-transaction-link{
  grid-column: -2;
}

.body{
  margin: 0 $big-interspace 0 $big-interspace;
  background-color: white;
  padding: $big-interspace;
}

.add-new-transaction{
  padding: $regular-interspace;
}

.list-of-items{
  .single-five-item-line:nth-child(odd){
    background-color: $cream;
  }
}

.input-form{
  border: 1px solid $green;
  display: grid;
  grid-template-columns: 17% 17% 17% 17% 17% 15%;
  padding: $regular-interspace;
  border-radius: $small-radius;
}

.single-five-item-line{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: $regular-interspace;
  border-radius: $small-radius;
}
.header{
  font-weight: bold;
  margin-bottom: $regular-interspace;
}

.transaction-input{
  padding: $small-interspace;
  border-radius: $small-radius;
  border-style: solid;
  border-width: 1px;
  border-color: $green;
  font-family: $montserrat;
  width: auto;
}

.input-form-field{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-end;
  margin: $small-interspace;
  &.disabled {
    opacity: 50%;
  }
}

.input-form-title{
  margin-bottom: $small-interspace;
}

.input-form-button{
  font-family: $montserrat;
  background-color: $green;
  border-radius: $small-radius;
  border-style: solid;
  border-width: 1px;
  border-color: $green;
  padding: $small-interspace;
}

.error-message{
  grid-column: 1/-1;
  color: red;
  font-weight: bold;
  margin: $small-interspace;
}

.tab-bar{
  background-color: $cream;
  padding: $regular-interspace 0 $regular-interspace 0;
  border-radius: $small-radius;
  a {
    font-weight: bold;
    text-decoration: none;
    color: $dark-green;
    padding: $regular-interspace;
    border-radius: $small-radius;

    &:hover{
      color: $pale-gold;
    }
  }

  .active{
    background-color: $green;
  }
}

.bottom-margin{
  margin-bottom: $regular-interspace;
}

.account-display{
  display: grid;
  grid-template-columns: 50% 50%;
}

.account-details{
  display: grid;
  grid-template-columns: 15% 17% 17% 17% 17% 17%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  .account-currentValue {
    font-size: 10vw;
    grid-column: 2/-2;
    grid-row: 2/-3;
  }
  .account-currency {
    grid-column: -3;
    grid-row: -3;
  }
  h1 {
    grid-column: 1/-1;
  }
}

.categories-display{
  display: grid;
  grid-template-columns: 40% 60%;
}

.single-category-type{
  border-style: solid;
  border-radius: $small-radius;
  border-color: $dark-green;
  border-width: 1px;
  margin: $regular-interspace;

  .title{
    padding: $regular-interspace;
    font-weight: bold;
    background-color: $dark-green;
    color: $cream;
    font-size: larger;
  }
}

.categories{
  display: grid;
  align-items: start;

  &.expense{
    grid-template-columns: 33% 33% 33%;
  }

  &.income{
    grid-template-columns: 50% 50%;
  }

}

.single-category{
  border-style: solid;
  border-radius: $small-radius;
  border-color: $green;
  border-width: 1px;
  margin: $regular-interspace;

  .title{
    padding: $regular-interspace;
    color: $dark-green;
    background-color: $green;
    font-size: large;
  }

  &.input{
    padding: $regular-interspace;
    color: $dark-green;
    background-color: $green;
    font-size: large;
  }
}

button{
  &.single-category{
    border-style: solid;
    border-radius: $small-radius;
    border-color: $green;
    border-width: 1px;
    background-color: $green;
  }
}

.subcategories{
  display: flex;
  flex-wrap: wrap;
}

button{
  &.single-subcategory{
    border-style: solid;
    border-radius: $small-radius;
    border-color: $cream;
    border-width: 1px;
  }
}

.single-subcategory{
  border-radius: $small-radius;
  margin: $small-interspace;
  padding: $small-interspace;
  background-color: $cream;

  &.input{
    border-style: solid;
    border-width: 1px;
    border-color: $cream;
    width: 90%;
    font-family: $montserrat;
  }
}

.single-account-stats{
  display: grid;
  grid-template-columns: 50% 5% 45%;
  grid-template-rows: 20% 80%;
  background-color: $cream;
  border-radius: $small-radius;
  padding: $regular-interspace $regular-interspace $big-interspace;
  align-items: center;

  .title{
    grid-column: 1/-1;
    font-size: xx-large;
    font-weight: bold;
    padding-left: $regular-interspace;
    padding-top: $small-interspace;
    padding-bottom: $small-interspace;
  }

  .bar-chart{
    grid-column: 1;
    grid-row: 2;
  }

  .pie-chart{
    grid-column: -2;
  }
}

.general-stats{
  display: grid;
  grid-template-columns: 50% 5% 45%;
  grid-template-rows: 15% 85%;
  padding: $regular-interspace 0 $regular-interspace 0;
  margin-bottom: $big-interspace;
  justify-items: center;
  align-items: center;

  .title{
    grid-row: 1;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: $small-interspace;

    &.second{
      grid-column: -2;
    }
  }

  .bar-chart{
    grid-column: 1;
  }

  .pie-chart{
    grid-column: -2;
  }
}

@import "ember-power-select";
