<div class="general-stats">
  <div class="title">
    Spending by account
  </div>
  <div class="bar-chart">
    {{#each @chartData.generalData as |element|}}
      {{ember-chart type="horizontalBar" data=element options=this.barChartOptions}}
    {{/each}}
  </div>
  <div class="title second">
    Spending by category
  </div>
  <div class="pie-chart">
    {{#each @chartData.expenseData as |element|}}
      {{ember-chart type="pie" data=element options=this.pieChartOptions}}
    {{/each}}
  </div>
</div>