<div
  {{did-insert this.getData}}
  class="input-form transactions"
>
  {{#if this.dataInstance.isSuccessful}}
    <EnterTransaction
      @accountNames={{this.dataInstance.value.accountNames}}
      @categories={{this.dataInstance.value.categories}}
    />
  {{/if}}
</div>