<div class="single-category-type">
  <div class="title">
    {{@type}}
  </div>
  <div class="categories">
    {{#each @categories as |single-category|}}
      <SingleCategory @category={{single-category}}/>
    {{/each}}
    <button class="single-category">
      <div class="title">
        ADD
      </div>
    </button>
  </div>
</div>


