<h2>Categories</h2>
<div class="categories-display">
  <SingleCategoryType @type="Income" @categories = {{this.incomeCategories}} />
  <SingleCategoryType @type="Expense" @categories = {{this.outcomeCategories}} />
</div>
