<h2>Categories</h2>
<div class="categories-display">
  <SingleCategoryType
    @type="Income"
    @categories={{this.incomeCategories}}
    class="income"
  />
  <SingleCategoryType
    @type="Expense"
    @categories={{this.outcomeCategories}}
    class="expense"
  />
</div>
