<div class="one-type-values">
  {{#each @accounts as |single-account|}}
    <div class="single-account-values">
      <div>
        {{single-account.accountName}}
      </div>
      <div>
        {{single-account.currentValue}} {{single-account.currency}}
      </div>
    </div>
  {{/each}}
</div>
