<div class="single-category">
  <div class="title">
    {{@category.categoryName}}
  </div>
  <div class="subcategories">
    {{#each @category.subcategories as |single-subcategory|}}
      <div class="single-subcategory">
        {{single-subcategory}}
      </div>
    {{/each}}
    <button class="single-subcategory">
      ADD
    </button>
  </div>
</div>
