<div class="loading-charts">
  <div class="single-bar" id="first-bar"></div>
  <div class="single-bar" id="second-bar"></div>
  <div class="single-bar" id="third-bar"></div>
  <div class="single-bar" id="fourth-bar"></div>
  <div class="single-bar" id="fifth-bar"></div>
</div>