<div class="current-value-list"
  {{did-insert (perform this.getAccountData)}}
>
  <div class="one-type-values-box">
    <div class="title">
      Checking
    </div>
    {{#if this.checkingAccounts}}

      <AccountListDetails @accounts = {{this.checkingAccounts}}/>

    {{/if}}
  </div>
  <div class="one-type-values-box">
    <div class="title">
      Savings
    </div>
    {{#if this.savingsAccounts}}

      <AccountListDetails @accounts = {{this.savingsAccounts}}/>

    {{/if}}
  </div>
</div>