<div class="accounts-value" ...attributes>
  <div class="one-type-values-box">
    <div class="title">
      Checking
    </div>
    <AccountListDetails @accounts = {{@accounts.checkingAccounts}}/>
  </div>
  <div class="one-type-values-box">
    <div class="title">
      Savings
    </div>
    <AccountListDetails @accounts = {{@accounts.savingsAccounts}}/>
  </div>
</div>

