<div
  {{did-insert this.getData}}
  {{did-update this.getData @accountId}}
>
  {{#if this.dataInstance.isRunning}}
    <AccountsValueLoading/>
  {{/if}}
  {{#if this.dataInstance.isSuccessful}}
    <AccountOverview
      @account={{account}}
      @chartData={{chartData}}
    />
  {{/if}}
</div>