<h1>{{this.model.accountData.currentValue}}</h1>

{{#each this.model.chartData as |element|}}
  {{ember-chart type="bar" data=element options=this.model.chartOptions width=100 height=50}}
{{/each}}

<TransactionHistory @transactions={{this.model.history}}/>

