<div class="ember-view">
  <div class="container">
      <div class="menu-box">
          <div class="menu">
              <LinkTo @route="index">
                  Home
              </LinkTo>
              <LinkTo @route="account">
                  Account
              </LinkTo>
              <LinkTo @route="stats">
                  Statistics
              </LinkTo>
          </div>
          <div class="add-new-transaction-link">
              <LinkTo @route="transactions">
                  New Transaction
              </LinkTo>
            <LinkTo @route="settings">
              Settings
            </LinkTo>
          </div>
      </div>
      <div class="body">
        {{outlet}}
      </div>
  </div>
</div>