<div class="single-transaction header">
    <div>
        Account
    </div>
    <div>
        Category
    </div>
    <div>
        Subcategory
    </div>
    <div>
        Date
    </div>
    <div>
        Amount
    </div>
</div>
<div class="transactions">
  {{#each this.model as |transaction|}}
    <SingleTransaction @transaction={{transaction}} class="single-transaction"/>
  {{/each}}
</div>
