<div class="add-new-transaction">
    <h3>Add new transaction</h3>
    <div class="input-form">
        <div>
            Account
        </div>
        <div>
            Category
        </div>
        <div>
            Subcategory
        </div>
        <div>
            Date
        </div>
        <input>
        <button>
            ADD
        </button>
    </div>
</div>

<TransactionHistory @transactions={{this.model}}/>